<p>game works!</p>
<div [ngStyle]="{'color': 'purple', margin: '11px', padding: '11px'}">
    Millie Bobby Brown
</div>
<ng-template #playerTpl let-data>
    <div class="el" [id]="data.username" [ngStyle]="{left: data.clientX + 'px', top: data.clientY + 'px'}">
        {{data.username}}
    </div>
</ng-template>
