.el {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid crimson;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 99, 71, .8);
    font-weight: bold;
    text-align: center;
    line-height: 25px;
}

#gift {
    background-color: rgba(127, 255, 0, .8);
     user-select: none;
     cursor: pointer;
}
